.breadcrumb-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .breadcrumb {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8px;

    .breadcrumb-label {
      color: #96AC78;
      cursor: pointer;
      margin: 0 6px;
    }
    .breadcrumb-label:hover {
      color: #c48a66;
      text-decoration-line: underline;
    }

    .not-hover {
      cursor: default;
    }
    .not-hover:hover {
      color: #c48a66;
      text-decoration: none;
    }

    .label-home {
      color: black;
      font-weight: 600;
    }
  }
}
