<nb-card>
  <nb-card-body>
    <div class="breadcrumb-wrapper">
      <nb-icon icon="home" status="black"></nb-icon>
      <div class="breadcrumb">
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index;">
          <div *ngIf="i > 0" class="breadcrumb-label not-hover">/</div>
          <div *ngIf="i === 0" class="breadcrumb-label label-home" (click)="router.navigate([breadcrumb.url])">{{breadcrumb.label}}</div>
          <div *ngIf="i > 0" class="breadcrumb-label" (click)="router.navigate([breadcrumb.url])">{{breadcrumb.label}}</div>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
</nb-card>
