<app-filter [formGroup]="filterForm" [items]="filterConfig" (search)="search($event)" (reset)="reset()"></app-filter>
<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Danh sách câu hỏi khảo sát</div>
        <ng-container *ngIf="canCreateSurveyQuestion">
            <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" class="btn btn-create" (click)="toEdit(undefined)">Thêm mới
            </button>
        </ng-container>
    </div>
  </nb-card-header>
  <nb-card-body>
    <app-table *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" [data]="surveyQuestionService.items$"
               [tableState]="surveyQuestionService.tableState$" [columns]="columns" (paginator)="pagination($event)"
               (edit)="toEdit($event)" (delete)="delete($event)"></app-table>
  </nb-card-body>
</nb-card>
