.sidebar-wrapper {
  font-family: "Open Sans", sans-serif !important;
}


::ng-deep .nb-theme-default nb-menu .menu-item>.menu-items>.menu-item {
  a {
    &.active {
      color: #96AC78 !important;

      .menu-icon {
        color: #96AC78 !important;
      }
    }
  }

  a:hover {
    color: #c48a66 !important;

    .menu-icon {
      color: #c48a66 !important;
    }
  }
}

::ng-deep .nb-theme-default nb-menu .menu-item {
  a {
    &.active {
      color: #96AC78 !important;

      .menu-icon {
        color: #96AC78 !important;
      }
    }
  }

  a:hover {
    color: #c48a66 !important;

    .menu-icon {
      color: #c48a66 !important;
    }
  }
}
