<app-filter [formGroup]="filterForm" [items]="filterConfig" (search)="search($event)" (reset)="reset()"></app-filter>
<nb-card>
    <nb-card-header>
        <div class="flex-center-between">
            <div>Danh sách đáp án khảo sát</div>
            <ng-container *ngIf="canCreateSurveyAnswer">
                <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" class="btn btn-create" (click)="toEdit(undefined)">Thêm mới
                </button>
            </ng-container>
        </div>
    </nb-card-header>
    <nb-card-body>
        <app-table *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" [data]="surveyAnswerService.items$"
                   [tableState]="surveyAnswerService.tableState$" [columns]="columns" (paginator)="pagination($event)"
                   (edit)="toEdit($event)" (delete)="delete($event)"></app-table>
    </nb-card-body>
</nb-card>
