<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Thông tin khảo sát</div>
      <div class="flex-center-end gap-18">
        <button class="btn btn-back" (click)="back()">Thoát</button>
        <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                class="btn btn-create" (click)="onSubmit()">{{ surveyId ? 'Cập nhập' : 'Lưu'}}</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form class="form-group-survey" [formGroup]="form">
      <div class="col-form-1">
        <div>
          <label>Danh mục khảo sát <span class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [status]="formControlStatus('surveyCategoryId') ? 'danger' : 'basic'"
                       formControlName="surveyCategoryId" placeholder="Danh mục khảo sát"
                       [disabled]="formControls['status'].value === SURVEY_STATUS.STATUS_ACTIVE.value">
              <nb-option *ngFor="let v of (surveyCategoryList$ | async)" [value]="v['id']">{{v['name']}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('surveyCategoryId')">
              Danh mục khảo sát là bắt buộc
            </div>
          </div>
        </div>
        <div>
          <label>Tên khảo sát <span class="text-danger">*</span></label>
          <nb-form-field>
            <input nbInput fullWidth type="text" [status]="formControlStatus('name') ? 'danger' : 'basic'"
                   formControlName="name" placeholder="Tên khảo sát"/>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('name')">
              Tên khảo sát là bắt buộc
            </div>
            <div class="text-danger" *ngIf="formControls['name'].hasError('maxLength')">
              Tên khảo sát không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Mô tả</label>
          <nb-form-field>
            <textarea nbInput fullWidth type="text" formControlName="description" placeholder="Mô tả" rows="6"></textarea>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['description'].hasError('maxLength')">
              Mô tả không vượt quá 4000 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Hiển thị câu hỏi <span class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [status]="formControlStatus('nextStepType') ? 'danger' : 'basic'"
                       formControlName="nextStepType"
                       placeholder="Hiển thị câu hỏi">
              <nb-option *ngFor="let v of SURVEY_NEXT_STEP_TYPE_LIST" [value]="v['value']">{{v['label']}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('nextStepType')">
              Hiển thị câu hỏi là bắt buộc
            </div>
          </div>
        </div>
      </div>

      <div class="col-form-2">
        <div>
          <label>Ảnh thumbnail</label>
          <div>
            <app-image-frame (changeImage)="changeImageThumbnail($event)"
                             [src]="formControls['imageThumbnail'].value"
                             (clearImage)="deleteImageThumbnail()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageThumbnail'].hasError('maxLength')">
              Ảnh thumbnail không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Ảnh feature</label>
          <div>
            <app-image-frame (changeImage)="changeImageFeature($event)"
                             [src]="formControls['imageFeature'].value"
                             (clearImage)="deleteImageFeature()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageFeature'].hasError('maxLength')">
              Ảnh feature không vượt quá 256 ký tự
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
