nb-card {
    max-height: 800px;
}

.step-config-header-wrap {
    nb-icon {
        cursor: pointer;
        color: #8f9bb3;
    }
}

.step-config-wrap {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 18px;

    .config-item {
        background: #F5F5F5;
        padding: 16px;
        border-radius: 0 0 0.25rem 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 10px;
        border-top: 4px solid #96AC78;

        .question-condition {
            display: grid;
            grid-template-columns: 120px 588px 60px;
            align-items: center;
        }

        .condition-text {
            width: 100%;
            text-align: center;

            div {
                font-size: 17px;
            }

            &-1 {
                font-size: 14px;
            }

            &-2 {
                font-size: 14px;
            }
        }

        .delete-btn {
            background: #F5F5F5;
            padding: 8px;
            border-radius: 0.25rem 0.25rem 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            nb-icon {
                color: #ff3d71;
            }
        }

        .answer-choice {
            padding-top: 10px;
            display: grid;
            grid-template-columns: 120px 120px 408px 60px 60px;
            align-items: center;
            margin-top: 8px;

            .delete-btn {
                background: #F5F5F5;
                padding: 8px;
                border-radius: 0.25rem 0.25rem 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                nb-icon {
                    color: #c48a66;
                }
            }
        }

        .step-choice {
            display: grid;
            grid-template-columns: 120px 120px 408px 60px 60px;;
            align-items: center;
        }

        .answer-step-add {
            width: 100%;
            display: grid;
            grid-template-columns: 120px 1fr 120px;

            &-btn {
                width: 100%;
                border-radius: 0.25rem;
                border: 1px dashed #8f9bb3;
                text-align: center;
                padding: 8px 16px;
                font-size: 20px;
                font-weight: 800;
                opacity: 0.4;
                cursor: pointer;
            }
        }
    }

    .question-step-add {
        width: 100%;

        &-btn {
            width: 100%;
            border-radius: 0.25rem;
            border: 1px dashed #8f9bb3;
            text-align: center;
            padding: 8px 16px;
            font-size: 20px;
            font-weight: 800;
            opacity: 0.4;
            cursor: pointer;
        }
    }
}

nb-form-field {
    width: 100%;
}

.error-message {
    margin-top: 3px;
}

.btn-create {
    background: #96AC78;
    color: black;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

nb-option {
    &:disabled {
        pointer-events: none;
        color: gray
    }
}

:host {
    ::ng-deep {
        nb-select {
            &.appearance-filled {
                &.status-success {
                    .select-button {
                        background-color: #96AC78 !important;
                        border-color: #96AC78 !important;
                    }

                    .select-button:focus {
                        background-color: #96AC78 !important;
                        border-color: #96AC78 !important;
                    }

                    .select-button:hover {
                        background-color: #96AC78 !important;
                        border-color: #96AC78 !important;
                    }
                }
            }
        }
    }
}
