<nb-card>
    <nb-card-header>
        <div class="flex-center-between step-config-header-wrap">
            <div>Sắp xếp thứ tự ưu tiên</div>
            <nb-icon (click)="back()" icon="close-outline"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="step-config-wrap">
            <div *ngFor="let stepQuestion of stepQuestionControls(); let indexQuestion = index;" class="w-100">
                <div class="config-item">
                    <div class="question-condition">
                        <div class="condition-text">NẾU</div>
                        <div class="w-100">
                            <nb-form-field>
                                <nb-select fullWidth [status]="stepQuestionControlStatus('surveyQuestionId', indexQuestion) ? 'danger' : 'basic'"
                                           [formControl]="$any(stepQuestion.get('surveyQuestionId'))" placeholder="Câu hỏi" (selectedChange)="selectQuestion($event, indexQuestion)">
                                    <nb-option *ngFor="let v of (surveyQuestionList$ | async)" [value]="v['id']">{{v['name']}}</nb-option>
                                </nb-select>
                            </nb-form-field>
                            <div class="msg-error">
                                <div class="text-danger" *ngIf="stepQuestionControlStatus('surveyQuestionId', indexQuestion)">
                                    Câu hỏi là bắt buộc
                                </div>
                            </div>
                        </div>
                        <div class="delete-btn" (click)="removeStepQuestion(indexQuestion)">
                            <nb-icon icon="trash"></nb-icon>
                        </div>
                    </div>
                    <ng-container *ngFor="let stepAnswer of stepAnswerControls(indexQuestion); let indexAnswer = index;">
                        <div class="answer-choice">
                            <div></div>
                            <div class="condition-text-1">CHỌN</div>
                            <div class="w-100">
                                <nb-form-field>
                                    <nb-select fullWidth [status]="stepAnswerControlStatus('surveyAnswerId', indexQuestion, indexAnswer) ? 'danger' : 'basic'"
                                               [formControl]="$any(stepAnswer.get('surveyAnswerId'))" placeholder="Đáp án">
                                        <nb-option *ngFor="let v of stepQuestionControl('surveyAnswer', indexQuestion)?.value" [value]="v['id']">{{v['name']}}</nb-option>
                                    </nb-select>
                                </nb-form-field>
                                <div class="msg-error">
                                    <div class="text-danger" *ngIf="stepAnswerControlStatus('surveyAnswerId', indexQuestion, indexAnswer)">
                                        Đáp án là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="delete-btn" (click)="removeStepAnswer(indexQuestion, indexAnswer)">
                                <nb-icon icon="trash"></nb-icon>
                            </div>
                            <div></div>
                        </div>
                        <div class="step-choice" *ngIf="stepAnswerControl('surveyAnswerId', indexQuestion, indexAnswer)?.value">
                            <div class="w-100"></div>
                            <div class="condition-text-2 w-100">NHẢY TỚI</div>
                            <div class="w-100">
                                <nb-form-field>
                                    <nb-select fullWidth filled [status]="stepAnswerControlStatus('surveyQuestionNextId', indexQuestion, indexAnswer) ? 'danger' : 'success'"
                                               [formControl]="$any(stepAnswer.get('surveyQuestionNextId'))" placeholder="Câu hỏi tiếp theo">
                                        <nb-option *ngFor="let v of (surveyQuestionList$ | async)" [disabled]="v['id'] === stepQuestionControl('surveyQuestionId', indexQuestion)?.value" [value]="v['id']">{{v['name']}}</nb-option>
                                    </nb-select>
                                </nb-form-field>
                                <div class="msg-error">
                                    <div class="text-danger" *ngIf="stepAnswerControlStatus('surveyQuestionNextId', indexQuestion, indexAnswer)">
                                        Câu hỏi tiếp theo là bắt buộc
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                        </div>
                    </ng-container>
                    <div class="answer-step-add">
                        <div></div>
                        <div class="answer-step-add-btn" (click)="addStepAnswer(indexQuestion)">
                            +
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="question-step-add-btn" (click)="addStepQuestion()">
                +
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="flex-center-end gap-18">
            <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                    class="btn btn-create" (click)="onSubmit()">Lưu</button>
        </div>
    </nb-card-footer>
</nb-card>
