nb-card {
    margin: 0 !important;
    height: 100%;
}

:host {
    ::ng-deep .custom-checkbox {
        background: white !important;

        &.checked {
            background-color: #36f !important;
        }
    }
}

.file-upload-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px;
    height: 60px;
    background: #edf1f7;

    nb-card {
        flex-grow: 1;
    }

    .title-root {
        font-weight: 700;
        margin-right: 8px;
        color: #96AC78;
        cursor: pointer;

        &:hover {
            color: #c48a66;
            text-decoration-line: underline;
        }
    }

    .breadcrumb-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 16px;
        font-size: 13px;

        > div {
            cursor: pointer;
        }
    }

    .btn-choose-done {
        background: #96AC78;
        color: black;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 24px
    }
}

.file-upload-wrap {
    margin-top: 16px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 18px;

    .folder-wrap {
        width: 100%;

        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .folder-list {
            margin-top: 16px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            gap: 8px;
            overflow-y: auto;

            .folder-item {
                width: 95%;
                padding: 10px 24px;
                border: 1px solid #e2e5ed;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .add-title {
                    width: 100%;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 800;
                    opacity: 0.5;
                }

                .delete-icon {
                    background: #ff3d71;
                    color: white;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    nb-icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .file-wrap {
        width: 100%;

        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .file-list {
            margin-top: 16px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
            overflow-y: auto;
            overflow-x: hidden;

            .file-item {
                border-radius: 5px;
                border: 1px solid #e2e5ed;
                cursor: pointer;
                width: 150px;
                position: relative;

                &-add {
                    //width: 100%;
                    min-height: 182px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .add-title {
                        width: 100%;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 800;
                        opacity: 0.5;
                    }
                }

                .delete-icon {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background: #ff3d71;
                    color: white;
                    border-radius: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    nb-icon {
                        width: 20px;
                        height: 20px;
                    }
                }

                .check-box-chose {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }

                &-image {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .image-name {
                        font-size: 12px;
                        margin-top: 2px;
                        margin-bottom: 6px;
                        text-align: center;

                        width: 90%;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }

                &-file {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .file-name {
                        font-size: 12px;
                        margin-top: 2px;
                        margin-bottom: 6px;
                        text-align: center;
                    }

                    .img-file-wrap {
                        margin: 4px;
                        border-radius: 8px;
                        width: 142px;
                        height: 142px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #F5F5F5;

                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-height: 629px) {
    .file-upload-wrap {
        max-height: 460px;
    }

    .folder-list {
        max-height: 390px;
    }

    .file-list {
        max-height: 390px;
    }
}

@media only screen and (min-height: 755px) {
    .file-upload-wrap {
        max-height: 570px;
    }

    .folder-list .file-list {
        max-height: 500px;
    }

    .file-list {
        max-height: 500px;
    }
}

@media only screen and (min-height: 858px) {
    .file-upload-wrap {
        max-height: 670px;
    }

    .folder-list {
        max-height: 600px;
    }

    .file-list {
        max-height: 600px;
    }
}

@media only screen and (min-height: 944px) {
    .file-upload-wrap {
        max-height: 700px;
    }

    .folder-list .file-list {
        max-height: 630px;
    }

    .file-list {
        max-height: 630px;
    }
}
