<nb-card>
  <div class="file-upload-breadcrumb">
    <div class="title-root" (click)="toBreadcrumb(undefined)">Root&ensp;></div>
    <nb-card>
      <div class="breadcrumb-wrap">
        <ng-container *ngFor="let breadcrumb of breadcrumbs; let fisrt = first">
          <div (click)="toBreadcrumb(breadcrumb)"><span *ngIf="!fisrt">></span>&ensp;{{breadcrumb.name}}&ensp;</div>
        </ng-container>
      </div>
    </nb-card>
    <div>
      <button *hasPermission="['ADMIN', 'ROOT', 'FILE']"
              class="btn btn-choose-done" (click)="onSubmitChoosedFile()">Xong</button>
    </div>
  </div>
</nb-card>
<div class="file-upload-wrap">
  <div class="folder-wrap">
    <nb-card>
      <nb-card-body>
        <div class="folder-wrap-title">Thư mục</div>
        <div class="folder-list">
          <div class="folder-item" (click)="createFolder()" *hasPermission="['ADMIN', 'ROOT', 'FILE']">
            <div class="add-title">+</div>
          </div>
          <ng-container *ngFor="let folder of folderList">
            <div class="folder-item" (click)="toFolder(folder)">
              <div>{{folder?.name}}</div>
              <div class="delete-icon" (click)="deleteFolder($event, folder)" *hasPermission="['ADMIN', 'ROOT', 'FILE']">
                <nb-icon icon="close-outline"></nb-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="file-wrap">
    <nb-card>
      <nb-card-body>
        <div class="file-wrap-title">File</div>
        <div class="file-list">
          <label for="uploadFile" class="file-item file-item-add" *hasPermission="['ADMIN', 'ROOT', 'FILE']">
            <div class="add-title">+</div>
            <input type="file" id="uploadFile" hidden multiple (change)="onFileUploadChange($event)"
                   [accept]="allowExtStr">
          </label>
          <ng-container *ngFor="let file of fileList">
            <div class="file-item" (click)="chooseFile(file)">
              <div class="delete-icon" (click)="deleteFile($event, file)" *hasPermission="['ADMIN', 'ROOT', 'FILE']">
                <nb-icon icon="close-outline"></nb-icon>
              </div>
              <ng-container *ngIf="isChooseFile">
                <div class="check-box-chose" *hasPermission="['ADMIN', 'ROOT', 'FILE']">
                  <nb-checkbox status="basic" [checked]="file.checked" [disabled]="file.disable"></nb-checkbox>
                </div>
              </ng-container>
              <ng-container *ngIf="file?.type?.includes('application')">
                <div class="file-item-file">
                  <div class="img-file-wrap">
                    <img src="assets/images/file.png" alt=""/>
                  </div>
                  <div class="file-name">{{file?.name}}</div>
                </div>
              </ng-container>
              <ng-container *ngIf="file?.type?.includes('image')">
                <div class="file-item-image">
                  <app-img-display [url]="file?.url"></app-img-display>
                  <div class="image-name">{{file?.name}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
