<div class="sign-in-page-wrapper">
  <nb-card>
    <div class="card-login-body">
      <div class="img-side"></div>
      <div class="login-form-wrapper">
        <div class="logo">Beauty Match Admin</div>
        <form class="login-form" [formGroup]="signInForm">
          <div class="grid-col-full">
            <label>Tài khoản</label>
            <nb-form-field>
              <input nbInput fullWidth type="email" formControlName="username" placeholder="Email" [status]="f['username'].invalid && f['username'].touched ? 'danger' : 'basic'">
            </nb-form-field>
            <ng-container *ngIf="f['username'].invalid && f['username'].touched">
              <div class="caption status-danger error-message" *ngIf="f['username'].errors?.['required']">
                Email là bắt buộc!
              </div>
              <div class="caption status-danger error-message" *ngIf="f['username'].errors?.['invalidEmail']">
                Email không hợp lệ!
              </div>
            </ng-container>
          </div>
          <div class="grid-col-full">
            <label>Mật khẩu</label>
            <nb-form-field>
              <input nbInput fullWidth type="password" formControlName="password" placeholder="Mật khẩu" [status]="f['password'].invalid && f['password'].touched ? 'danger' : 'basic'" #passwordField>
              <button nbSuffix nbButton ghost (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'">
                <nb-icon [icon]="passwordField.type === 'password' ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"></nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="f['password'].invalid && f['password'].touched">
              <div class="caption status-danger error-message" *ngIf="f['password'].errors?.['required']">
                Mật khẩu là bắt buộc!
              </div>
              <div class="caption status-danger error-message" *ngIf="f['password'].errors?.['invalidPassword']">
                Mật khẩu không hợp lệ!
                <br>
                Mật khẩu phải chứa chữ cái và số.
              </div>
            </ng-container>
          </div>
        </form>
        <ng-container *ngIf="showAlert">
          <nb-alert [status]="alert.status" class="sign-in-alert" closable (click)="showAlert = false;">{{alert.message}}</nb-alert>
        </ng-container>
        <div class="login-form-action">
          <button class="btn btn-login" (click)="signIn()">Đăng nhập</button>
        </div>
      </div>
    </div>
  </nb-card>
</div>
