.sign-in-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-login-body {
    display: flex;
    align-items: stretch;
    justify-content: center;

    .img-side {
      width: 300px;
      background-image: url("../../../../../assets/images/entry-bg-2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .login-form-wrapper {
      width: 450px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        font-size: 25px;
        color: #222b45;
        font-weight: bold;
      }

      .sub-title {
        font-weight: 600;
        font-size: 14px;
        display: inline-block;
        background-image: linear-gradient(40deg, rgb(203, 129, 100), rgb(177, 100, 86));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 8px;
      }

      .sign-in-alert {
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: 0 !important;
      }

      .login-form {
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;

        .grid-col-full {
          grid-column: 1/2;
        }

        nb-form-field {
          width: 100%;
          margin-top: 6px;
        }

        .error-message {
          margin-top: 3px;
        }
      }

      .login-form-action {
        margin-top: 40px;
      }
    }
  }

  .btn-login {
    background: #96AC78;
    color: black;
    font-weight: 600;
    width: 140px;
  }
}
