.error-page {
  font-family: "Open Sans", sans-serif !important;
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-to-home {
    background: #96AC78;
    color: black;
    font-weight: 600;
  }
}
