<div class="error-page">
  <div class="error-content">
    <h1>404 | Page Not Found</h1>
    <br/>
    <button (click)="backToHome()" class="btn btn-to-home">Quay về trang chủ</button>
  </div>
</div>
