<div>Tổng items: {{(this.data | async)?.length}}</div>
<div class="table-wrapper">
  <ng2-smart-table [settings]="settings" [source]="source" (edit)="editFn($event)" (delete)="deleteFn($event)"></ng2-smart-table>
</div>
<form [formGroup]="paginatorForm" class="pagination">
  <div class="pagination-take">
    <div>Hiển thị:</div>
    <nb-select size="small" (selectedChange)="changePage()" formControlName="take">
      <nb-option *ngFor="let size of PageSizes" [value]="size">{{size}} dòng</nb-option>
    </nb-select>
  </div>
  <div class="pagination-page">
    <div class="border-lr start" (click)="toStart()">
      <nb-icon icon="arrowhead-left-outline"></nb-icon>
    </div>
    <div class="border-lr prev" (click)="toPrev()">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </div>

    <div class="page">
      <div class="flex-center-between gap-6">
        <span>Trang: </span>
        <nb-form-field>
          <input nbInput fieldSize="small" type="number" formControlName="page" class="input-page" readonly />
        </nb-form-field>
        <span>/ {{offset}}</span>
      </div>
    </div>

    <div class="border-lr next" (click)="toNext()">
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </div>
    <div class="border-lr end" (click)="toEnd()">
      <nb-icon icon="arrowhead-right-outline"></nb-icon>
    </div>
  </div>
</form>
