.table-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  margin-top: 18px;
}

:host {
  ::ng-deep .ng2-smart-actions {
    min-width: 120px;
  }
}

.pagination {
  width: 100%;
  margin-top: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;

  .pagination-take {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
  }

  .pagination-page {
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    .border-lr {
      //border: 1px solid #1b1b38;
      padding: 4px;
      cursor: pointer;

      .page-text {
        width: 20px;
        height: 20px;
        text-align: center;
      }
    }

    .border-lr:hover {
      background: #d5d8de;
    }

    .page {
      padding: 0 12px;

      .input-page {
        width: 50px !important;
        padding: 0.1875rem 0.1875rem !important;
        text-align: center;
      }
    }
  }
}
