<ng-container *ngIf="src">
  <div class="frame-wrapper mxt-15" [style.width]="180" [style.height]="180">
    <span class="d-flex">
      <app-img-display [url]="src" [width]="180" [height]="180" (click)="change()"></app-img-display>
      <button class="btn-close" type="button" (click)="close()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </span>
  </div>
</ng-container>
<ng-container *ngIf="!src">
  <div class="frame-wrapper new mxt-15" (click)="change()">
    <img src="assets/images/image-empty.png" alt=""/>
  </div>
</ng-container>
