.frame-wrapper {
    cursor: pointer;
    border: 1px solid #e2e5ed;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
    width: 180px;
    height: 180px;

    span {
        position: relative;

        img {
            border-radius: 6px;
            width: calc(100% - 1px);
            object-fit: contain;
        }
    }

    .btn-close {
        position: absolute;
        padding: unset;
        top: 5px;
        right: 5px;
        cursor: pointer;

        background: #ff3d71;
        color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        nb-icon {
            width: 20px;
            height: 20px;
        }
    }
}

.new {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70%;
        height: 70%;
        object-fit: cover;
    }
}
