.header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title-company-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title-company {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 18px;
    }
  }

    .logo {
        font-size: 24px;
        color: #222b45;
        font-weight: bold;
    }

  .info-user-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;

    .name {
      color: #96AC78;
    }

    .email {
      font-weight: 400;
      font-size: 13px;
      margin-top: 2px;
    }
  }

  .avatar-user-wrap {
    width: 36px;
    height: 36px;
    cursor: pointer;

    .avatar-user {
      width: 36px;
      height: 36px;
      outline: 4px solid #96AC78;
      outline-offset: 2px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.header-menu-wrap {
  padding: 4px 18px;
  background: white;
  border-radius: 0.25rem;
  width: 150px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  .header-menu-item {
    width: 100%;
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    color: #222b45;

    cursor: pointer;

    &:hover {
      color: #96AC78;
    }

    &.border-bottom {
      border-bottom: 1px solid #bdc0c5;
    }
  }
}
