<div class="header-wrapper">
  <div class="title-company-wrapper">
    <nb-actions size="medium">
      <nb-action [icon]="stateSideBar === 'expanded' ? 'menu-2-outline' : 'menu-outline'" (click)="toggleStateSideBar(stateSideBar === 'expanded' ? 'compacted' : 'expanded')"></nb-action>
      <nb-action></nb-action>
    </nb-actions>
    <div class="title-company">
      <div class="logo">Beauty Match</div>
    </div>
  </div>
  <div [nbPopover]="menuHeaderRef" [nbPopoverOffset]="30">
    <nb-actions size="medium" *ngIf="(currentUser$ | async) as currentUser">
      <nb-action>
        <div class="info-user-wrap">
          <div class="name">{{currentUser?.account?.fullName}}</div>
          <div class="email">{{currentUser?.sub}}</div>
        </div>
      </nb-action>
      <nb-action>
        <div class="avatar-user-wrap">
          <img [src]="currentUser?.account?.avatarUrl ? currentUser?.account?.avatarUrl : 'assets/images/blank-account.png'" alt="" class="avatar-user" />
        </div>
      </nb-action>
    </nb-actions>
  </div>
</div>


<ng-template #menuHeaderRef>
  <div class="header-menu-wrap">
    <ng-container *ngFor="let item of menuItems; let last = last">
      <div *hasPermission="item.role" class="header-menu-item" [class.border-bottom]="!last" [routerLink]="[item.link]">
        <nb-icon *ngIf="item?.icon" [icon]="item.icon"></nb-icon>
        <span>{{item.label}}</span>
      </div>
    </ng-container>
  </div>
</ng-template>
