<nb-form-field>
  <nb-select [placeholder]="'Trạng thái'" (selectedChange)="selectedChange($event)" [selected]="value.data">
    <nb-option *ngFor="let v of value.select.options" [value]="value.select.bindValue && v[value.select.bindValue]">
      <div
        [style.color]="'#222b45'">{{ value.select.bindLabel && v[value.select.bindLabel]}}</div>
    </nb-option>
  </nb-select>
</nb-form-field>
