.btn-create {
  background: #96AC78;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.form-add-folder {
  width: 500px;

  nb-form-field {
    width: 100%;
    margin-top: 6px;
  }
}
