<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Thông tin folder</div>
      <div class="flex-center-end gap-18">
        <button *hasPermission="['ADMIN', 'ROOT', 'FILE']"
                class="btn btn-create" (click)="onSubmit()">Lưu</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form class="form-add-folder" [formGroup]="form">
      <div>
        <label>Tên folder <span class="text-danger">*</span></label>
        <nb-form-field>
          <input nbInput fullWidth type="text" [status]="formControlStatus('name') ? 'danger' : 'basic'"
                 formControlName="name" placeholder="Tên folder"/>
        </nb-form-field>
        <div class="msg-error">
          <div class="text-danger" *ngIf="formControlStatus('name')">
            Tên folder là bắt buộc
          </div>
          <div class="text-danger" *ngIf="formControls['name'].hasError('maxLength')">
            Tên folder không vượt quá 256 ký tự
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
