<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Thông tin danh mục khảo sát</div>
      <div class="flex-center-end gap-18">
        <button class="btn btn-back" (click)="back()">Thoát</button>
        <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                class="btn btn-create" (click)="onSubmit()">{{ surveyCategoryId ? 'Cập nhập' : 'Lưu'}}</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form class="form-group-survey-category" [formGroup]="form">
      <div class="col-form-1">
        <div>
          <label>Tên loại khảo sát <span class="text-danger">*</span></label>
          <nb-form-field>
            <input nbInput fullWidth type="text" [status]="formControlStatus('name') ? 'danger' : 'basic'"
                   formControlName="name" placeholder="Tên loại khảo sát"/>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('name')">
              Tên loại khảo sát là bắt buộc
            </div>
            <div class="text-danger" *ngIf="formControls['name'].hasError('maxLength')">
              Tên loại khảo sát không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Mô tả</label>
          <nb-form-field>
            <textarea nbInput fullWidth type="text" formControlName="description" placeholder="Mô tả" rows="6"></textarea>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['description'].hasError('maxLength')">
              Mô tả không vượt quá 4000 ký tự
            </div>
          </div>
        </div>
      </div>

      <div class="col-form-2">
        <div>
          <label>Ảnh thumbnail</label>
          <div>
            <app-image-frame (changeImage)="changeImageThumbnail($event)"
                             [src]="formControls['imageThumbnail'].value"
                             (clearImage)="deleteImageThumbnail()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageThumbnail'].hasError('maxLength')">
              Ảnh thumbnail không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Ảnh feature</label>
          <div>
            <app-image-frame (changeImage)="changeImageFeature($event)"
                             [src]="formControls['imageFeature'].value"
                             (clearImage)="deleteImageFeature()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageFeature'].hasError('maxLength')">
              Ảnh feature không vượt quá 256 ký tự
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
