<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Thông tin câu hỏi khảo sát</div>
      <div class="flex-center-end gap-18">
        <button class="btn btn-back" (click)="back(surveyId)">Thoát</button>
        <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                class="btn btn-create" (click)="onSubmit()">{{ surveyQuestionId ? 'Cập nhập' : 'Lưu'}}</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form class="form-group-survey-question" [formGroup]="form">
      <div class="col-form-1">
        <div>
          <label>Khảo sát <span class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [status]="formControlStatus('surveyId') ? 'danger' : 'basic'"
                       formControlName="surveyId" placeholder="Khảo sát"
                       [disabled]="formControls['id'].value === surveyQuestionId">
              <nb-option *ngFor="let v of (surveyList$ | async)" [value]="v['id']">{{v['name']}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('surveyId')">
              Khảo sát là bắt buộc
            </div>
          </div>
        </div>
        <div>
          <label>Tên câu hỏi <span class="text-danger">*</span></label>
          <nb-form-field>
            <input nbInput fullWidth type="text" [status]="formControlStatus('name') ? 'danger' : 'basic'"
                   formControlName="name" placeholder="Tên câu hỏi"/>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('name')">
              Tên câu hỏi là bắt buộc
            </div>
            <div class="text-danger" *ngIf="formControls['name'].hasError('maxLength')">
              Tên câu hỏi không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Nội dung câu hỏi</label>
          <angular-editor id="descriptionSurveyQuestion" formControlName="description" [config]="editorConfig"></angular-editor>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['description'].hasError('maxLength')">
              Mô tả không vượt quá 4000 ký tự
            </div>
          </div>
        </div>
        <div class="flex-center-start gap-18">
          <label>Bắt buộc trả lời</label>
          <nb-checkbox formControlName="isAnswerRequired"></nb-checkbox>
        </div>
        <div class="flex-center-start gap-18">
          <label>Là câu hỏi đầu tiên</label>
          <nb-checkbox formControlName="isFirst"></nb-checkbox>
        </div>
        <div>
          <label>Dạng hiển thị câu trả lời <span class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [status]="formControlStatus('answerDisplayType') ? 'danger' : 'basic'"
                       formControlName="answerDisplayType" placeholder="Dạng hiển thị câu trả lời">
              <nb-option *ngFor="let v of SURVEY_QUESTION_ANSWER_DISPLAY_TYPE_LIST" [value]="v['value']">{{v['label']}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('answerDisplayType')">
              Dạng hiển thị câu trả lời là bắt buộc
            </div>
          </div>
        </div>

        <div>
          <label>Dạng chọn câu trả lời <span class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [status]="formControlStatus('answerSelectType') ? 'danger' : 'basic'"
                       formControlName="answerSelectType" placeholder="Dạng chọn câu trả lời">
              <nb-option *ngFor="let v of SURVEY_QUESTION_ANSWER_SELECT_TYPE_LIST" [value]="v['value']">{{v['label']}}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControlStatus('answerSelectType')">
              Dạng chọn câu trả lời là bắt buộc
            </div>
          </div>
        </div>
      </div>
      <div class="col-form-2">
        <div>
          <label>Ảnh thumbnail</label>
          <div>
            <app-image-frame (changeImage)="changeImageThumbnail($event)"
                             [src]="formControls['imageThumbnail'].value"
                             (clearImage)="deleteImageThumbnail()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageThumbnail'].hasError('maxLength')">
              Ảnh thumbnail không vượt quá 256 ký tự
            </div>
          </div>
        </div>
        <div>
          <label>Ảnh feature</label>
          <div>
            <app-image-frame (changeImage)="changeImageFeature($event)"
                             [src]="formControls['imageFeature'].value"
                             (clearImage)="deleteImageFeature()"></app-image-frame>
          </div>
          <div class="msg-error">
            <div class="text-danger" *ngIf="formControls['imageFeature'].hasError('maxLength')">
              Ảnh feature không vượt quá 256 ký tự
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
