<ng-container *ngIf="loadingStore.isLoading$ | async">
  <app-loading></app-loading>
</ng-container>

<nb-layout>
<!--  <div *ngIf="layout === 'main'">-->
    <nb-layout-header fixed *ngIf="layout === 'main'">
      <app-header (toggleSideBar)="setSideBarState($event)" [sideBarState]="sideBarState"></app-header>
    </nb-layout-header>
    <nb-sidebar [state]="sideBarState" *ngIf="layout === 'main'">
      <app-sidebar></app-sidebar>
    </nb-sidebar>
    <nb-layout-column *ngIf="layout === 'main'">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet *ngIf="true"></router-outlet>
    </nb-layout-column>
<!--  </div>-->

<!--  <ng-container *ngIf="layout === 'empty'">-->
    <nb-layout-column *ngIf="layout === 'empty'">
      <router-outlet *ngIf="true"></router-outlet>
    </nb-layout-column>
<!--  </ng-container>-->
</nb-layout>
