.loading-wrapper {
  position: sticky;
  top: 0;
  z-index: 999998;

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    //background-color: rgba(161, 110, 255, 0.16);
    width: 100%;
    height: 100vh;
  }
}
