.btn-create {
  background: #96AC78;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-back {
  background: #edf1f7;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}


.form-group-survey-answer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 60px;

  .col-form-1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
  }

  .col-form-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  nb-form-field {
    width: 100%;
    margin-top: 6px;
  }

  .error-message {
    margin-top: 3px;
  }
}
