<nb-card>
    <nb-card-header>
        <div class="flex-center-between">
            <div>Thông tin đáp án khảo sát</div>
            <div class="flex-center-end gap-18">
                <button class="btn btn-back" (click)="back(surveyId, surveyQuestionId)">Thoát</button>
                <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                        class="btn btn-create" (click)="onSubmit()">{{ surveyAnswerId ? 'Cập nhập' : 'Lưu'}}</button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form class="form-group-survey-answer" [formGroup]="form">
            <div class="col-form-1">
                <div>
                    <label>Khảo sát <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <nb-select fullWidth [status]="formControlStatus('surveyId') ? 'danger' : 'basic'"
                                   formControlName="surveyId" placeholder="Khảo sát"
                                   [disabled]="formControls['id'].value === surveyAnswerId">
                            <nb-option *ngFor="let v of (surveyList$ | async)" [value]="v['id']">{{v['name']}}</nb-option>
                        </nb-select>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('surveyId')">
                            Khảo sát là bắt buộc
                        </div>
                    </div>
                </div>
                <div>
                    <label>Câu hỏi <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <nb-select fullWidth [status]="formControlStatus('surveyQuestionId') ? 'danger' : 'basic'"
                                   formControlName="surveyQuestionId" placeholder="Câu hỏi"
                                   [disabled]="formControls['id'].value === surveyAnswerId" (selectedChange)="changeSurveyQuestion($event)">
                            <nb-option *ngFor="let v of (surveyQuestionList$ | async)" [value]="v['id']">{{v['name']}}</nb-option>
                        </nb-select>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('surveyQuestionId')">
                            Câu hỏi là bắt buộc
                        </div>
                    </div>
                </div>
                <div>
                    <label>Tên đáp án <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <input nbInput fullWidth type="text" [status]="formControlStatus('name') ? 'danger' : 'basic'"
                               formControlName="name" placeholder="Tên đáp án"/>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('name')">
                            Tên đáp án là bắt buộc
                        </div>
                        <div class="text-danger" *ngIf="formControls['name'].hasError('maxLength')">
                            Tên đáp án không vượt quá 256 ký tự
                        </div>
                    </div>
                </div>
                <div>
                    <label>Nội dung đáp án</label>
                    <angular-editor id="descriptionSurveyAnswer" formControlName="description" [config]="editorConfig"></angular-editor>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControls['description'].hasError('maxLength')">
                            Nội dung không vượt quá 4000 ký tự
                        </div>
                    </div>
                </div>
                <div>
                    <label>Dạng đáp án <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <nb-select fullWidth [status]="formControlStatus('displayType') ? 'danger' : 'basic'"
                                   formControlName="displayType" placeholder="Dạng đáp án">
                            <nb-option *ngFor="let v of SURVEY_ANSWER_DISPLAY_TYPE_LIST" [value]="v['value']">{{v['label']}}</nb-option>
                        </nb-select>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('displayType')">
                            Dạng đáp án là bắt buộc
                        </div>
                    </div>
                </div>
                <div *ngIf="formControls['displayType'].value === SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_SELECT.value">
                    <label>Điểm đánh giá nhu cầu <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <input nbInput fullWidth type="number" [status]="formControlStatus('demandScore') ? 'danger' : 'basic'"
                               formControlName="demandScore" placeholder="Điểm đánh giá nhu cầu"/>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('demandScore')">
                            Điểm đánh giá nhu cầu là bắt buộc
                        </div>
                        <div class="text-danger" *ngIf="formControls['demandScore'].hasError('min')">
                            Điểm đánh giá nhu cầu phải lớn hơn 0
                        </div>
                        <div class="text-danger" *ngIf="formControls['demandScore'].hasError('max')">
                            Điểm đánh giá nhu cầu phải nhỏ hơn hoặc bằng 100
                        </div>
                    </div>
                </div>
                <div *ngIf="formControls['displayType'].value !== SURVEY_ANSWER_DISPLAY_TYPE.DISPLAY_TYPE_SELECT.value">
                    <label>Điểm đánh giá nhu cầu cao nhất <span class="text-danger">*</span></label>
                    <nb-form-field>
                        <input nbInput fullWidth type="number" [status]="formControlStatus('demandScore') ? 'danger' : 'basic'"
                               formControlName="demandScore" placeholder="Điểm đánh giá nhu cầu cao nhất"/>
                    </nb-form-field>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControlStatus('demandScore')">
                            Điểm đánh giá nhu cầu cao nhất là bắt buộc
                        </div>
                        <div class="text-danger" *ngIf="formControls['demandScore'].hasError('min')">
                            Điểm đánh giá nhu cầu cao nhất phải lớn hơn 0
                        </div>
                        <div class="text-danger" *ngIf="formControls['demandScore'].hasError('max')">
                            Điểm đánh giá nhu cầu cao nhất phải nhỏ hơn hoặc bằng 100
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-form-2">
                <div>
                    <label>Ảnh thumbnail</label>
                    <div>
                        <app-image-frame (changeImage)="changeImageThumbnail($event)"
                                         [src]="formControls['imageThumbnail'].value"
                                         (clearImage)="deleteImageThumbnail()"></app-image-frame>
                    </div>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControls['imageThumbnail'].hasError('maxLength')">
                            Ảnh thumbnail không vượt quá 256 ký tự
                        </div>
                    </div>
                </div>
                <div>
                    <label>Ảnh feature</label>
                    <div>
                        <app-image-frame (changeImage)="changeImageFeature($event)"
                                         [src]="formControls['imageFeature'].value"
                                         (clearImage)="deleteImageFeature()"></app-image-frame>
                    </div>
                    <div class="msg-error">
                        <div class="text-danger" *ngIf="formControls['imageFeature'].hasError('maxLength')">
                            Ảnh feature không vượt quá 256 ký tự
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
