.btn-submit-filter {
  background: #c48a66;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-reset-filter {
  background: #edf1f7;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
