<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Bộ lọc tìm kiếm</div>
      <div class="flex-center-end gap-18">
        <button class="btn btn-reset-filter" (click)="resetFilter()">Reset</button>
        <button class="btn btn-submit-filter" (click)="submit()">Tìm kiếm</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form class="form-group-filter" [class.col]="type === 'column'" [formGroup]="formGroup">
      <ng-container *ngFor="let _item of items; let i = index">

        <div *ngIf="_item.type === 'input'">
          <label>{{_item.label}} <span *ngIf="_item.isRequired" class="text-danger">*</span></label>
          <nb-form-field>
            <input nbInput fullWidth [type]="_item.inputType" [formControlName]="_item.formControlName" [placeholder]="_item.placeholder" />
          </nb-form-field>
        </div>

        <div *ngIf="_item.type === 'select'">
          <label>{{_item.label}} <span *ngIf="_item.isRequired" class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [placeholder]="_item.placeholder" [formControlName]="_item.formControlName">
              <nb-option *ngFor="let v of _item.options" [value]="_item.bindValue && v[_item.bindValue]">{{_item.bindLabel && v[_item.bindLabel]}}</nb-option>
            </nb-select>
          </nb-form-field>
        </div>

        <div *ngIf="_item.type === 'select_observable'">
          <label>{{_item.label}} <span *ngIf="_item.isRequired" class="text-danger">*</span></label>
          <nb-form-field>
            <nb-select fullWidth [placeholder]="_item.placeholder" [formControlName]="_item.formControlName">
              <nb-option *ngFor="let v of _item.itemObservable | async" [value]="_item.bindValue && v[_item.bindValue]">{{_item.bindLabel && v[_item.bindLabel]}}</nb-option>
            </nb-select>
          </nb-form-field>
        </div>

      </ng-container>
    </form>
  </nb-card-body>
</nb-card>
