<div class="entry-page-wrapper">
  <div class="entry-page-bg"></div>
  <div class="logo-company">
      <div class="logo">Beauty Match</div>
    <div class="title-welcome">Hello & Welcome</div>
  </div>
</div>
