.entry-page-wrapper {
  width: 100%;
  height: calc(100% - 60px - 36px);
  position: relative;
  background-color: white;

  .entry-page-bg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.2;
  }

  .logo-company {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

      .logo {
          font-size: 43px;
          color: #222b45;
          font-weight: bold;
      }

    .title-welcome {
      text-transform: uppercase;
      font-size: 40px;
      margin-top: 40px;
      //font-weight: 400;
      //background-image: linear-gradient(40deg, rgb(203, 129, 100), rgb(177, 100, 86));
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }
  }
}

@media only screen and (width: 1280px) {
  .logo-company {
    zoom: 0.67;
  }
}
@media only screen and (width: 1536px) {
  .logo-company {
    zoom: 0.8;
  }
}
