//$main-bg: linear-gradient(40deg, rgb(203, 129, 100), rgb(177, 100, 86));
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.nb-theme-default {
  font-family: "Open Sans", sans-serif !important;
}

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background-color: #d5d8de;
}

::-webkit-scrollbar-thumb {
  background: #bdc0c5;
  height: 10px;
  width: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

nb-card {
  margin-bottom: 18px !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
}

h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.form-group-filter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 18px;

  &.col {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  nb-form-field {
    width: 100%;
    margin-top: 6px;
  }

  .error-message {
    margin-top: 3px;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-center-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-18 {
  gap: 18px;
}

.gap-6 {
  gap: 6px;
}

.btn {
  border: none;
  padding: 12px 16px;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif !important;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.nb-theme-default [nbInput].status-basic:hover {
  border-color: #96AC78 !important;
}

.nb-theme-default [nbInput].status-basic:focus {
  border-color: #96AC78 !important;
}

.nb-theme-default nb-option:hover.selected {
  background: rgba(229, 228, 226, 0.2) !important;
  color: #222b45 !important;
}

nb-option {
  color: #222b45 !important;
}

nb-option[disabled] {
  color: rgba(143,155,179,.48) !important;
}

nb-option.selected {
  background: rgba(229, 228, 226, 0.2) !important;
  color: #222b45 !important;
}

nb-select {
  .select-button:hover {
    border-color: #96AC78 !important;
  }
}

nb-select {
  .select-button:focus {
    border-color: #96AC78 !important;
  }
}

.msg-error {
  font-size: 14px;
}

.angular-editor {
  margin-top: 6px;
}

.angular-editor-toolbar {
  border-radius: 0.25rem;
  padding: 12px !important;
}

.angular-editor-textarea {
  border-radius: 0.25rem;
}
