<div class="step-mapping-qa-wrap">
    <div class="step-mapping-qa">
        <div>
            <nb-card>
                <nb-card-header>
                    Mô phỏng
                </nb-card-header>
                <nb-card-body>
                    <div *ngIf="survey && surveyQuestionStepList.length > 0" class="question-activated-detail active">
                        <div class="question-detail-wrap">
                            <ng-container *ngFor="let stepQuestion of surveyQuestionStepList">
                                <div class="w-100">
                                    <div class="step-question-wrap">
                                        <div>NẾU ({{stepQuestion.surveyQuestionId}})</div>
                                        <div class="step-question">{{stepQuestion?.surveyQuestion?.name}}</div>
                                        <nb-icon icon="question-mark-circle" class="step-question-icon" nbTooltip="Câu hỏi khảo sát"></nb-icon>
                                    </div>
                                    <div class="w-100 mt-10">
                                        <ng-container *ngFor="let stepAnswer of stepQuestion.step">
                                            <div class="step-answer-wrap">
                                                <div>CHỌN</div>
                                                <div class="step-answer">{{stepAnswer?.surveyAnswer?.name}}</div>
                                                <nb-icon icon="checkmark-circle-2" class="step-answer-icon" nbTooltip="Đáp án khảo sát"></nb-icon>
                                            </div>
                                            <div class="step-question-wrap-2">
                                                <div>NHẢY TỚI ({{stepAnswer?.surveyQuestionNext?.id}})</div>
                                                <div class="step-question-2">{{stepAnswer?.surveyQuestionNext?.name}}</div>
                                                <nb-icon icon="question-mark-circle" class="step-question-2-icon" nbTooltip="Câu hỏi khảo sát tiếp theo"></nb-icon>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngIf="!survey && surveyQuestionStepList.length === 0" class="question-activated-detail non-active">
                        <div>Chọn khảo sát để cấu hình rẽ nhánh</div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div>
            <app-filter [type]="'column'" [formGroup]="filterForm" [items]="filterConfig" (search)="search($event)" (reset)="reset()"></app-filter>
            <nb-card *ngIf="survey">
                <nb-card-header>
                    Khảo sát
                </nb-card-header>
                <nb-card-body>
                    <div class="survey">
                        <div>{{survey.name}}</div>
                        <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" class="btn btn-create" (click)="configStep(survey)">Cấu hình rẽ nhánh</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
