.step-mapping-qa-wrap {
  position: relative;
}

.step-mapping-qa {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
}

h3 {
  margin: 0 !important;
  padding: 0 !important;
}

h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.question-activated-detail {
  background: #F5F5F5;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2) inset;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    width: 100%;
    padding: 30px 60px;

    .question-detail-wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 18px;

        .step-question-wrap {
            display: grid;
            grid-template-columns: 80px 550px 60px;
            gap: 18px;
            align-items: center;

            .step-question {
                border-radius: 0.25rem;
                outline: 2px solid #96AC78;
                background-color: rgba(150, 172, 120, 0.2);
                padding: 8px 16px;

                &-icon {
                    color: #96AC78;
                }
            }
        }

        .step-answer-wrap {
            margin-top: 10px;
            margin-left: 98px;
            display: grid;
            grid-template-columns: 100px 432px 60px;
            gap: 18px;
            align-items: center;

            .step-answer {
                border-radius: 0.25rem;
                //outline: 2px solid #c48a66;
                background-color: rgba(196, 138, 102, 0.2);
                padding: 8px 16px;

                &-icon {
                    color: #c48a66;
                }
            }
        }

        .step-question-wrap-2 {
            margin-top: 10px;
            margin-left: 98px;
            display: grid;
            grid-template-columns: 100px 432px 60px;
            gap: 18px;
            align-items: center;

            .step-question-2 {
                border-radius: 0.25rem;
                outline: 2px solid #96AC78;
                background-color: rgba(150, 172, 120, 0.2);
                padding: 8px 16px;

                &-icon {
                    color: #96AC78;
                }
            }
        }
    }
  }

  &.non-active {
    min-height: 300px;
  }
}

.survey {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-create {
  background: #96AC78;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.mt-10 {
    margin-top: 10px;
}
