:host {
  ::ng-deep .priority {
    .ng2-smart-title {
      min-width: 25px;
    }
  }

  ::ng-deep .id {
    .ng2-smart-title {
      min-width: 20px;
    }
  }

  ::ng-deep .name {
    .ng2-smart-title {
      min-width: 200px;
    }
  }

  ::ng-deep .imageThumbnail {
    .ng2-smart-title {
      min-width: 150px;
    }
  }

  ::ng-deep .imageFeature {
    .ng2-smart-title {
      min-width: 150px;
    }
  }

  ::ng-deep .surveyActiveCount {
      max-width: 50px;
  }

  ::ng-deep .surveyTotalCount {
      max-width: 50px;
  }

  ::ng-deep .ng2-smart-actions {
   width: 150px;
 }
}

.btn-create {
  background: #96AC78;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
