<app-filter [formGroup]="filterForm" [items]="filterConfig" (search)="search($event)" (reset)="reset()"></app-filter>
<nb-card>
  <nb-card-header>
    <div class="flex-center-between">
      <div>Danh sách khảo sát</div>
      <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" class="btn btn-create" (click)="toEdit(undefined)">Thêm mới
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="status-info-wrap" *ngIf="statusInfo && statusInfo.trashCount && statusInfo.statusCount">
      <div class="flex-center-end gap-6">
        <div class="flex-center-end gap-6 btn-status-info">
          <div (click)="find({status: null, isTrash: false})"
             [ngClass]="{'bold': formControls['status'].value === null && !formControls['isTrash'].value}">
            {{statusInfo.trashCount[0].label}} ({{statusInfo.trashCount[0].count}})
          </div>
          <span>|</span>
        </div>
        <ng-container *ngFor="let statusCount of statusInfo.statusCount">
          <div class="flex-center-end gap-6 btn-status-info">
            <div (click)="find({status: statusCount.value, isTrash: false})"
                 [ngClass]="{'bold': formControls['status'].value === statusCount.value}">
              {{statusCount.label}} ({{statusCount.count}})
            </div>
            <span>|</span>
          </div>
        </ng-container>
        <div class="flex-center-end gap-6 btn-status-info">
          <div (click)="find({status: null, isTrash: true})"
             [ngClass]="{'bold': formControls['isTrash'].value === true}">
            {{statusInfo.trashCount[1].label}} ({{statusInfo.trashCount[1].count}})
          </div>
        </div>
      </div>
    </div>
    <app-table *hasPermission="['ADMIN', 'ROOT', 'SURVEY']" [data]="surveyService.items$"
               [tableState]="surveyService.tableState$" [columns]="columns" (paginator)="pagination($event)"
               (edit)="toEdit($event)" (delete)="delete($event)" [tableSettings]="tableSettings"></app-table>
  </nb-card-body>
</nb-card>
