<nb-card>
    <nb-card-header>
        <div class="flex-center-between sort-priority-header-wrap">
            <div>Sắp xếp thứ tự ưu tiên</div>
            <nb-icon (click)="back()" icon="close-outline"></nb-icon>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="sort-priority-wrap">
            <div *ngFor="let item of priorityList" class="sort-item">
                <div class="label">{{item.name}}</div>
                <div class="switch">
                    <nb-icon (click)="downWard(item)" class="ic_down_ward" icon="arrow-downward-outline"></nb-icon>
                    <nb-icon (click)="upWard(item)" class="ic_up_ward" icon="arrow-upward-outline"></nb-icon>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="flex-center-end gap-18">
            <button *hasPermission="['ADMIN', 'ROOT', 'SURVEY']"
                    class="btn btn-create" (click)="onSubmit()">Lưu</button>
        </div>
    </nb-card-footer>
</nb-card>
