.btn-create {
  background: #96AC78;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-back {
  background: #edf1f7;
  color: black;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.sort-priority-header-wrap {
  nb-icon {
    cursor: pointer;
    color: #8f9bb3;
  }
}

.sort-priority-wrap {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 8px;

  .sort-item {
    padding: 10px 18px;
    border-radius: 0.25rem;
    border: 1px solid #bdc0c5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.active-upward {
      border: 2px solid #96AC78;

      .switch {
        .ic_up_ward {
          background: rgba(189, 192, 197, 0.4);
          border-radius: 0.25rem;
        }
      }
    }

    &.active-downward {
      border: 2px solid #c48a66;

      .switch {
        .ic_down_ward {
          background: rgba(189, 192, 197, 0.4);
          border-radius: 0.25rem;
        }
      }
    }

    .label {
      flex-grow: 1;
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .switch {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      nb-icon {
        cursor: pointer;

        &:hover {
          background: rgba(189, 192, 197, 0.4);
          border-radius: 0.25rem;
        }
      }

      .ic_down_ward {
        color: #c48a66;
      }

      .ic_up_ward {
        color: #96AC78;
      }
    }
  }
}
